  html, body {
    font-family: Roboto;
  }
  .bod {
    display: grid;
    margin: 50px 100px 0 100px;
    grid-template-columns: 35fr 65fr;
    height: 70vh;
  }
  h1 {
      text-align: center;
  }

  #map {
    height: 100%;
  }
  
  .text {
      margin-right: 50px;
  }